<section id="breadcrumb">
  <p>Home > <a href="/product">Product</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Product</h2>
  </header>
  <main id="content-main">
    <p>Customers</p>
    <p>Sales Quote</p>
    <p>Sales Order</p>
    <p>Sales Return</p>
  </main>
  <footer id="content-footer">
  </footer>
</section>