<section id="breadcrumb">
  <p>Home > <a href="/report">Report</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Report</h2>
  </header>
  <main id="content-main">
    <p>Sales</p>
    <p>Purchase</p>
    <p>Inventory</p>
    <p>Product</p>
  </main>
  <footer id="content-footer">
  </footer>
</section>