<section id="breadcrumb">
  <p>Home > <a href="/setting">Setting</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Settings</h2>
  </header>
  <main id="content-main">
    <p><a href="/account_addresses">Account Addresses</a></p>
    <p><a href="/payment_terms">Account Contacts</a></p>
    <p><a href="/payment_terms">Payment Terms</a></p>
    <p><a href="/freight_terms">Freight Terms</a></p>
  </main>
  <footer id="content-footer">
  </footer>
</section>

