<section id="breadcrumb">
  <p>Home > <a href="/supply">Supply</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Supply</h2>
  </header>
  <main id="content-main">
    <p><a href="/suppliers">Suppliers</a></p>
    <p>Purchase Quote</p>
    <p><a href="/purchase_orders">Purchase Order</a></p>
    <p>Purchase Return</p>
  </main>
  <footer id="content-footer">
  </footer>
</section>