<section id="breadcrumb">
  <p>Home > <a href="/warehouse">Warehouse</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Warehouse</h2>
  </header>
  <main id="content-main">
    <p>Inventory</p>
    <p></p>
    <p>Inbound</p>
    <p>Outbound</p>
  </main>
  <footer id="content-footer">
  </footer>
</section>