<%= render partial: "section" %>

<script id="payment-terms-form-template" type="text/x-handlebars-template">
  <form class="new_payment_term" id="new_payment_term" action="/payment_terms" accept-charset="UTF-8" method="post">
  
    <input name="utf8" type="hidden" value="✓">
    
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <input value="1" type="hidden" name="payment_term[account_id]" id="payment_term_account_id">

    <div class="field">
      <label for="payment_term_name">Payment Term Name: </label>
      <input type="text" name="payment_term[name]" id="payment_term_name">
    </div>

    <div class="field">
      <label for="payment_term_days">Date or Net Days: </label>
      <input min="0" type="number" name="payment_term[days]" id="payment_term_days"><br>
    </div>

    <div class="field">
      <label for="payment_term_payment_option_id">Payment Option: </label>
      <select name="payment_term[payment_option_id]" id="payment_term_payment_option_id">
        <option value="">Please select</option>
        {{#each paymentOptions}}
        {{displayOption this}}
        {{/each}}
      </select><br>
    </div>

    <div class="field">
      <label for="payment_term_trade_credit_rate">Trade Credit Percentage: </label>
      <input type="text" name="payment_term[trade_credit_rate]" id="payment_term_trade_credit_rate"><br>
    </div>

    <div class="field">
      <label for="payment_term_trade_credit_days">Trade Credit Days: </label>
      <input type="number" name="payment_term[trade_credit_days]" id="payment_term_trade_credit_days"><br>
    </div>

    <div class="field">
      <input name="payment_term[status]" type="hidden" value="1">
<!--      <label for="payment_term_status">Status</label>
      <input value="0" type="hidden" name="payment_term[status]" id="payment_term_status">
      <input name="payment_term[status]" type="hidden" value="0">
      <input type="checkbox" value="1" name="payment_term[status]" id="payment_term_status"><br> -->
    </div>

    <div class="actions">
      <input type="submit" name="commit" value="Create Payment term" data-disable-with="Create Payment term">
    </div>

  </form>
</script>