<%= render partial: "section" %>

<script id="payment-term-show-template" type="text/x-handlebars-template">
  <p>ID: {{id}}</p>
  <p>Name: {{name}}</p>
  <p>Payment Option: {{payment_option.name}}</p>
  <p>Trade Credit Rate: {{trade_credit_rate}}</p>
  <p>Trade Credit Days: {{trade_credit_days}}</p>
  <p>Days: {{days}}</p>
  <p>Status: {{#if status}}<input type="checkbox" checked disabled>{{else}}<input type="checkbox" disabled>{{/if}}</p>
</script>
