<%= render partial: "section"%>

<script id="uom-form-template" type="text/x-handlebars-template">
  <form class="unit_of_measure" id="unit_of_measure" action="/unit_of_measures/{{id}}" accept-charset="UTF-8" method="put">
    <input name="utf8" type="hidden" value="✓">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <label for="unit_of_measure_name">Name</label>
    <input type="text" name="unit_of_measure[name]" id="unit_of_measure_name" value="{{name}}">
    <br>

    <label for="unit_of_measure_status">Status</label>
    {{#if status}}
      <input value="false" type="hidden" name="unit_of_measure[status]" id="unit_of_measure_status">
      <input value="true" type="checkbox" name="unit_of_measure[status]" id="unit_of_measure_status" checked>      
    {{else}}
      <input value="false" type="checkbox" name="unit_of_measure[status]" id="unit_of_measure_status">
      <input value="true" type="hidden" name="unit_of_measure[status]" id="unit_of_measure_status">
    {{/if}}
    <br>

    <input type="submit" name="commit" value="Edit UOM" data-disable-with="Edit UOM">
  </form>
</script>