<h2>Log in</h2>

<section>
  <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="field">
      <label for="user_email">Email</label><br>
      <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email">
    </div>

    <div class="field">
      <label for="user_password">Password</label><br>
      <input autocomplete="off" type="password" name="user[password]" id="user_password">
    </div>

      <div class="field">
        <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
        <label for="user_remember_me">Remember me</label>
      </div>

    <div class="actions">
      <input type="submit" name="commit" value="Log in" data-disable-with="Log in">
    </div>
  </form>
</section>


<%= render "users/shared/links" %>
