<section id="breadcrumb">
  Home > <a href="/payment_options">Payment Options</a>
</section>

<section id="content">
  <header id="content-header">
    <h2>Payment Options</h2>
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </footer>
</section>

<script id="payment-option-form-template" type="text/x-handlebars-template">
  <form class="payment_option" id="payment_option" action="/payment_options/{{id}}" accept-charset="UTF-8" method="put">
    <input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="payment_option_name">Name</label>
    <input type="text" name="payment_option[name]" id="payment_option_name" value="{{name}}">
    <input type="hidden" name="payment_option[status]" value="1" id="payment_option_status">
    <input type="submit" name="commit" value="Update Payment Option" data-disable-with="Update Payment Option">
  </form>
</script>