<section id="breadcrumb">
  Home > Payment Options
</section>

<section id="content">
  <header id="content-header">
    <h2>Payment Options</h2>
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </footer>
</section>

<script id="payment-option-index-template" type="text/x-handlebars-template">
  <table>
    <tr>
      <th>Name</th>
    </tr>
  </table>
</script>

