<%= render partial: "section" %>

<script id="payment-option-index-template" type="text/x-handlebars-template">
  <table>
    <tr class="table-header">
      <th>id</th>
      <th>Name</th>
      <th></th>
    </tr>
    {{#each paymentOptions}}
    <tr class="table-content">
      <td class="td-center"><a data-id="{{id}}">{{id}}</a></td>
      <td class="td-center">{{name}}</td>
      <td class="td-center update"><a data-id="{{id}}"><button data-id="{{id}}"><i class="fas fa-exchange fa-sm" data-id="{{id}}"></i></button></a></td>
    </tr>
    {{/each}}
  </table>
</script>

