<section id="breadcrumb">
  Home > <a href="/payment_options">Payment Options</a>
</section>

<section id="content">
  <header id="content-header">
    <h2>Payment Options</h2>
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
    <div class="create"><button><i class="far fa-plus fa-lg"></i></button></div>
  </footer>
</section>

