<%= render partial: "section" %>

<script id="payment-option-show-template" type="text/x-handlebars-template">
  <p>ID: {{id}}</p>
  <p>Name: {{name}}</p>
  <p><a href="/payment_options/{{id}}/edit">Edit</a></p>
</script>