<section id="breadcrumb">
  <p>Home > <a href="/setting">Setting</a> > <a href="/freight_terms">Freight Terms</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Freight Terms</h2>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
  </footer>
</section>