<section id="breadcrumb">
  <p>Home > <a href="/setting">Setting</a> > <a href="/account_addresses">Account Addresses</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Account Addresses</h2>
    <article>
      <div class="create"><button class="btn-sqr-lg"><i class="far fa-plus fa-lg"></i></button></div>
      <div class="edit"><button class="btn-sqr-lg"><i class="far fa-pen-square fa-lg"></i></button></div>
      <div class="delete"><button class="btn-sqr-lg"><i class="far fa-trash-alt fa-lg"></i></button></div>
    </article>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
  </footer>
</section>