<section id="breadcrumb">
  Home > Ground Data > Countries
</section>
<section id="content">
  <div>
    <h3>Countries</h3>
  </div>
  <div>
    <table>
      <tr>
        <th>Name</th>
        <th>ISO 2</th>
        <th>ISO 3</th>
        <th>Numeric Code</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tr>
        <td>Name</td>
        <td>ISO 2</td>
        <td>ISO 3</td>
        <td>Numeric Code</td>
        <td>Status</td>
        <td></td>
      </tr>
      <tr>
        <form>
          <td><input name="name" type="text" placeholder="Country name"></td>
          <td><input name="alpha_2_code" type="text" placeholder="ISO-2"></td>
          <td><input name="alpha_3_code" type="text" placeholder="ISO-3"></td>
          <td><input name="numeric_code" type="text" placeholder="Numeric code"></td>
          <td>Status</td>
        </form>
      </tr>
      <tr>
        <td>Add new</td>
      </tr>    
    </table>
  </div>
</section>
