/* Global Start */
* {
  box-sizing: border-box;
}

body {
  background-color: #f6f6f6;
}

header {
  background-color: mediumvioletred;
}

main {
  padding: 60px 15px 45px;
}

footer {
  align-items: center;
  background-color: rgba(33, 37, 43, 1);
  bottom: 0px;
  color: rgba(255, 222, 173, 0.75);
  display: flex;
  height: 30px;
  justify-content: center;
  left: 0px;
  position: fixed;
  width: 100%;
}
/* Global End */

/* Header Start */
/* Header Navigation Start */
#nav-header {
  align-items: center;
  background-color: rgba(33, 37, 43, 1);
  display: flex;
  height: 60px;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}

#nav-header ul {
  list-style: none;
}

#nav-header-logo {
  padding: 0 10px 0 0;
}

.nav-header-list {
  /* display: none; */
  padding: 0 10px;
}

.nav-header-list a:link,
.nav-header-list a:visited {
  color: rgba(255, 222, 173, 0.75);
  text-decoration: none;
}

.nav-header-list a:hover {
  color: orangered;
}

#nav-header-menu,
#nav-header-env {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 0;
}
/* Header Navigation End */
/* Header End */

/* Body Main Start */
#breadcrumb {
  font-size: 0.9em;
  padding: 15px 0;
}

#content {
  background-color: rgba(255, 222, 173, 0.25);
  padding: 10px;
}

#content-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}

#content-header h2 {
  margin: 0;
}

#content-header button {
  border-radius: 5px;
  height: 25px;
}

#content-table {
  padding: 15px 0 0;
}

#content-table table {
  border-collapse: collapse;
  width: 100%;
}

.table-header {
  background-color: rgba(135, 206, 250, 0.25);
}

.table-header,
.table-content {
  border-bottom: 1px rgba(0, 0, 0, 0.25) solid;
}

.table-header th, 
.table-content td {
  padding: 5px 10px;
}

.td-left {
  text-align: left;
}

.td-center {
  text-align: center;
}

#content-footer {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 15px 10px;
}

.create i:hover {
  color: forestgreen;
  cursor: pointer;
}

.update i:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.delete i:hover {
  color: firebrick;
  cursor: pointer;
}

/* Body Main End */

/* Media Queries Start */

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
  
}

/* Media Queries End */
