<%= render partial: "section" %>

<script id="product-show-template" type="text/x-handlebars-template">
  <p>ID: {{id}}</p>
  <p>SKU: {{sku}}</p>
  <p>Name: {{name}}</p>
  <p>Price: {{price}}</p>
  <p>Unit of Measure: {{unit_of_measure.name}}</p>
</script>
