<section id="breadcrumb">
  <p>Home > <a href="/accounts">Accounts</a></p>
</section>

<section id="content">
  <header id="content-header">
    <h2>Accounts</h2>
  </header>
  <main id="content-main">
  </main>
  <footer id="content-footer">
  </footer>
</section>