<%= render partial: "section" %>

<script id="account-list-template" type="text/x-handlebars-template">
  <table>
    <tr class="table-header">
      <th>Account Name</th>
      <th>Country</th>
      <th>Currency</th>
      <th></th>
    </tr>
    {{> accountListPartial }}
  </table>
</script>

<script id="account-list-partial" type="text/x-handlebars-template">
  {{#each accounts}}
  <tr>
    <td><a href="/dashboard?id={{this.id}}">{{this.name}}</a></td>
    <td>{{this.country.name}}</td>
    <td>{{this.currency.name}}</td>
    <td></td>
  </tr>
  {{/each}}
</script>