<section id="breadcrumb">
  Home > Accounts > New
</section>

<section id="content">
  <header id="content-header">
    <h2>New Account</h2>

  </header>

  <main id="content-body">

  </main>

  <footer id="content-footer">

  </footer>
</section>

<script id="account-form-template" type="text/x-handlebars-template">
  <form class="new_account" id="new_account" action="/accounts" accept-charset="UTF-8" method="post">
    {{> accountFormPartial}}
  </form>
</script>

<script id="account-form-partial" type="text/x-handlebars-template">
  <input name="utf8" type="hidden" value="✓">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  <div class="field">
    <label for="account_name">Company Name: </label>
    <input type="text" name="account[name]" id="account_name">
  </div>

  <div class="field">
    <label for="account_currency_id">Base Currency: </label>
    <select name="account[currency_id]" id="account_currency_id">
      <option value="">Please select</option>
      <!-- need currency options -->
    </select><br>
  </div>

  <div class="field">
    <label for="account_country_id">Country: </label>
    <select name="account[country_id]" id="account_country_id">
      <option value="">Please select</option>
      <!-- need country options -->
    </select><br>
  </div>

  <input value="true" type="hidden" name="account[status]" id="account_status">

  <div class="actions">
    <input type="submit" name="commit" value="Create Account" data-disable-with="Create Account">
  </div>
</script>